export PROJECT_ID=d8baf352491c4e448f9a33feca6c457a
export PROJECT_SECRET=1ac67dd7b4c9489793b115872f5e0b01
export MAINNET_HTTP_ENDPOINT=https://mainnet.infura.io/v3/d8baf352491c4e448f9a33feca6c457a
export MAINNET_WEBSOCKET_ENDPOINT=wss://mainnet.infura.io/ws/v3/d8baf352491c4e448f9a33feca6c457a

export WORKSPACE=$PWD
export GO111MODULE=auto
