export PROJECT_ID=${IF_PROJECT_ID}
export PROJECT_SECRET=${IF_PROJECT_SECRET}
export MAINNET_HTTP_ENDPOINT=${IF_MAINNET_HTTP_ENDPOINT}
export MAINNET_WEBSOCKET_ENDPOINT=${IF_MAINNET_WEBSOCKET_ENDPOINT}

export WORKSPACE=$PWD
export GO111MODULE=auto

# Load Test Configuration
# export INFLUX_DB_SETUP=true
export LOAD_TEST_ENDPOINT=""
